[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-configurations = "*"
dj-database-url = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-debug-toolbar = "*"
django-registration = "*"
djangorestframework = "*"
django = {extras = ["argon2"], version = "*"}
drf-yasg = "*"
requests = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
django-versatileimagefield = "*"

[dev-packages]

[requires]
python_version = "3.9"
